<ion-header>
  <ion-toolbar slot="start">
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment >
    <ion-segment-button > 
        <ion-label></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/owner">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>        
  </ion-tabs>

 
    <ion-item>
      <ion-datetime></ion-datetime>
    </ion-item>
    <br>
    <ion-label>Evento</ion-label>
    <ion-list>
      
    </ion-list>
 
 
</ion-content>




