<ion-header>
  <ion-toolbar slot="start">
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" routerLink="/owner">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesion</ion-label>
    </ion-tab-button>

  </ion-tab-bar>        
</ion-tabs>


