<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/won"></ion-back-button>
  </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content *ngFor="let g of infoGanado">
          <ion-item>
          <ion-label type="text">Nombre: {{g.NOMBRE_ANIMAL}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label type="text">Peso Animal: {{g.PESO}}</ion-label>
        </ion-item>
        </ion-card-content>
        <ion-buttons id="eli">
          <ion-button (click)=" eliminarGanado()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card>
      
    </ion-col>
    
  </ion-row>

</ion-content>

