<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/won"></ion-back-button>
  </ion-buttons>
    <ion-title>Información Ganado:</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card *ngFor="let g of infoGanado">
        <ion-card-content >
          <ion-item>
          <ion-label type="text">Tipo Animal: {{g.TIPO_ANIMAL}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label type="text">Raza: {{g.RAZA}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label type="text">Peso: {{g.PESO}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label type="text">Años Edad: {{g.ANOS_EDAD}}</ion-label>
        </ion-item>
        </ion-card-content>
      </ion-card>     
    </ion-col>  
  </ion-row>
</ion-content>

