<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/owner">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="schedule" routerLink="/event">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>        
  </ion-tabs>
  <ion-grid fixed>
    <form [formGroup]="formularioContacto" (keyup.enter)="guardar()">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Primer Apellido</ion-label>
            <ion-input formControlName="pApellido" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Segundo Apellido</ion-label>
            <ion-input formControlName="sApellido" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Ingresar Email</ion-label>
            <ion-input formControlName="email" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input formControlName="telefono" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <!-- Boton Crear Propiedad -->
    <ion-button class="ion-margin" type="submit" color="success" size="small" (click)="guardar()">Agregar Contacto</ion-button>

    
  </ion-grid>
</ion-content>

