<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ingresar Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
  </form>
  <!-- Boton Crear Propiedad -->
  <ion-button class="ion-margin" color="success" size="small">Agregar Contacto</ion-button>
</ion-grid>
</ion-content>
