<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen class="ion-padding">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/owner">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menú</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule" routerLink="/event">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendario</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-card>
    <ion-item id="formsContacto">
      <ion-grid fixed class="contenedor-perfil ion-no-padding">
        <ion-row class="contenedor-correo">
          <ion-col size="12">
            <ion-label class="label-seccion"> Nombre: </ion-label>
            <ion-label class="label-descripcion"> {{nombre}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed class="contenedor-perfil ion-no-padding">
        <ion-row class="contenedor-correo">
          <ion-col size="12">
            <ion-label class="label-seccion">Email: </ion-label>
            <ion-label class="label-descripcion"> {{email}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed class="contenedor-perfil ion-no-padding">
        <ion-row class="contenedor-correo">
          <ion-col size="12">
            <ion-label class="label-seccion">Teléfono: </ion-label>
            <ion-label class="label-descripcion"> {{telefono}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid fixed class="contenedor-perfil ion-no-padding">
        <ion-row class="contenedor-correo">
          <ion-col size="12">
            <ion-label class="label-seccion">Descripción: </ion-label>
            <ion-label class="label-descripcion"> {{descripcionCO}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  <ion-button (click)="listaContacto()">Cambiar nombre</ion-button>

  <ion-card-content class="createcontact">
    <ion-tab-button>
      <ion-img src="../../../assets/icon/icons/crearcontactos.png" routerLink="/create-contact"></ion-img>
      <ion-text>Crear Contacto</ion-text>
    </ion-tab-button>
  </ion-card-content>

</ion-content>