.createproperty{
    position: absolute;
    text-align: center;
    font-size: x-small;
}

.label-seccion{
    font-size: smaller;
    font-weight:bold;
    padding-bottom: 1px;
}


.label-descripcion{
    font-size: smaller;
    text-align: center;
    margin-right: 1px;
      
}


