<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/owner"></ion-back-button>
    </ion-buttons>
    <ion-title>Empleados</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let e of Empleado" [routerLink]="['/employee',e.RUT_PERSONA]">
      <ion-avatar slot="start">
        <ion-img src="../../../assets/icon/icons/EMPLEADO.png"></ion-img>
      </ion-avatar>
      <ion-label>{{e.RUT_PERSONA}}</ion-label>
    </ion-item>
  </ion-list>
<footer>
  <ion-fab vertical="bottom" horizontal="end" class="createproperty">
    <ion-fab-button (click)="agregarEmpleado()">
      <ion-img src="../../../assets/icon/icons/EMPLEADO.png"></ion-img>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-text>Crear Empleado</ion-text>
  </ion-fab>
</footer>
</ion-content>
