<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/owner"></ion-back-button>
    </ion-buttons>
    <ion-title>Propiedad</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let pr of propiedad" [routerLink]="['/property', pr.ID_PROPIEDAD]">
      <ion-avatar slot="start">
        <ion-img src="../../../assets/icon/icons/granja.png"></ion-img>
      </ion-avatar>
      <ion-label>{{pr.NOMBRE_PROPIEDAD}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" class="createproperty" >
    <ion-fab-button (click)="agregarPropiedad()">
      <ion-img src="../../../assets/icon/icons/CrearCasas.png"></ion-img>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-text>Crear Propiedad</ion-text>
  </ion-fab>

</ion-content>
