<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/owner"></ion-back-button>
    </ion-buttons>
    <ion-title>Propiedad</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-item-sliding *ngFor="let pr of propiedad">
    <ion-item [routerLink]="['/property', pr.ID_PROPIEDAD]"> 
      <ion-avatar slot="start">
        <ion-img src="../../../assets/icon/icons/granja.png"></ion-img>
      </ion-avatar>
      <ion-label >
        {{pr.NOMBRE_PROPIEDAD}}
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="secondary" >
        <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        Modificar
      </ion-item-option>
      <ion-item-option color="danger" >
        <ion-icon slot="top"  name="trash-outline" ></ion-icon>
        Borrar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="end" class="createproperty" >
    <ion-fab-button (click)="crearPropiedad()">
      <ion-img src="../../../assets/icon/icons/CrearCasas.png"></ion-img>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-text>Crear Propiedad</ion-text>
  </ion-fab>

</ion-content>
