<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/won"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Ganado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.NUMERO_SERIE" type="number" placeholder="Ingresar Numero Serie" required></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-select  okText="Okay" cancelText="Cerrar"  [(ngModel)] ="ganado.TIPO_ANIMAL" placeholder="Selecione Tipo Ganado" required>
              <ion-select-option value="Cerdo">Cerdo</ion-select-option>
              <ion-select-option value="Vaca">Vaca</ion-select-option>
              <ion-select-option value="Oveja">Oveja</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)]  ="ganado.RAZA" type="text" placeholder="Ingresar Raza" required></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.PESO" type="number" placeholder="Ingresar Peso" required></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.ANOS_EDAD" type="number" placeholder="Ingresar Años de Edad" required></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.MESES_EDAD" type="number" placeholder="Ingresar Meses de Edad" ></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.CRIAS" type="number" placeholder="Ingresar Crias"></ion-input>
          </ion-item>
          <ion-item class="input"  >
            <ion-select  okText="Okay" cancelText="Cerrar" type="submit" [(ngModel)] ="ganado.TIPO_PRODUCCION" placeholder="Selecione Tipo Producción" required>
              <ion-select-option value="Leche">Leche</ion-select-option>
              <ion-select-option value="Carne">Carne</ion-select-option>
              <ion-select-option value="Ambas">Ambas</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.FECHA" type="text" placeholder="Ingresar Fecha 16/04/2020" required></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.PRECIO_COMPRA" type="number" placeholder="Ingresar Precio Compra"></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.PRECIO_VENTA" type="number" placeholder="Ingresar Precio Venta" ></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.VACUNA" type="text" placeholder="Ingresar Vacuna"></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.PRECIO_VACUNA" type="number" placeholder="Ingresar Precio Vacuna"></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.ENFERMEDAD" type="text" placeholder="Ingresar Enfermedad" required></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.MEDICAMENTO" type="text" placeholder="Ingresar Medicamento"></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input [(ngModel)] ="ganado.PRECIO_MEDICAMENTO" type="number" placeholder="Ingresar Precio Medicamento"></ion-input>
          </ion-item>
          <div>
            <ion-button color="primary" (click)="crearGanado()">
              Crear Ganado
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>