<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/won"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Ganado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="owner" routerLink="/owner">
          <ion-icon name="grid-outline"></ion-icon>
          <ion-label>Menú</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="schedule" routerLink="/event">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Calendario</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="map">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </footer>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text"  placeholder="Ingresar Id" #NUMERO_SERIE required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Nombre" #NOMBRE_ANIMAL required></ion-input>
          <ion-input type="email" placeholder="Ingresar Peso" #PESO required></ion-input>
          <ion-button color="primary" (click)="agregarNuevoContacto(NUMERO_SERIE, NOMBRE_ANIMAL, PESO)">
            Guardar Ganado
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

