<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Primer Apellido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Segundo Apellido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ingresar Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ingresar Nuevamente Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Corfirmar Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ingresar Comuna</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ingresar Region</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-datetime locale="es-CL" presentation="date"></ion-datetime>
  </form>
  <button></button>
</ion-content>

