<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <form [formGroup]="formularioRegistro" (keyup.enter)="agregarUser(nom.value,pAPEL.value,sAPELLDO.value,eMAIL.value,pASS.value,pAIS.value,cOMUNA.value,rEGION.value)">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [formControl]="nom" type="text" required></ion-input>


          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Primer Apellido</ion-label>
            <ion-input [formControl]="pAPEL" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Segundo Apellido</ion-label>
            <ion-input [formControl]="sAPELLDO" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Ingresar Email</ion-label>
            <ion-input [formControl]="eMAIL" type="email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Ingresar Nuevamente Email</ion-label>
            <ion-input formControlName="confirmarEmail" type="email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [formControl]="pASS" type="password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Corfirmar Contraseña</ion-label>
            <ion-input formControlName="confirmarPassword" type="password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Ingresar Pais</ion-label>
            <ion-input [formControl]="pAIS" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Ingresar Comuna</ion-label>
            <ion-input [formControl]="cOMUNA" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Ingresar Region</ion-label>
            <ion-input [formControl]="rEGION" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="agregarUser(nom.value,pAPEL.value,sAPELLDO.value,eMAIL.value,pASS.value,pAIS.value,cOMUNA.value,rEGION.value)">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

