<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ganado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" routerLink="/owner">
          <ion-icon name="grid-outline"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="schedule" routerLink="/evento">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
  
        <ion-tab-button tab="map">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </footer>

  <ion-list>
    <ion-item *ngFor="let ga of Ganado" [routerLink]="['/won', ga.NUMERO_SERIE]" >
      <ion-avatar slot="start">
        <ion-img src="../../../assets/icon/icons/ganado.png"></ion-img>
      </ion-avatar>
      <ion-label>{{ga.NUMERO_SERIE}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" class="createwon">
    <ion-fab-button (click)="agregarGanado()">
      <ion-img src="../../../assets/icon/icons/animal.png"></ion-img>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-text>Crear Contacto</ion-text>
  </ion-fab>

</ion-content>