<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/property"></ion-back-button>
  </ion-buttons>
    <ion-title>{{infopropiedad?.NOMBRE_PROPIEDAD}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)=" eliminarContacto()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">{{infopropiedad?.NOMBRE_PROPIEDAD}}</h1>
          <h1 class="ion-text-center">{{infopropiedad?.TIPO_PRODUCCION}}</h1>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>

