<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Siembra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content class="createsowing">
    <ion-tab-button>
      <ion-img src="../../../assets/icon/icons/crearsiembra.png" routerLink="/create-sowing"></ion-img>
      <ion-text>Crear Siembra</ion-text>
    </ion-tab-button>
  </ion-card-content>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/owner">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="schedule" routerLink="/event">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>        
  </ion-tabs>

</ion-content>