<ion-header>
  <ion-toolbar>
    <ion-title>agregar-contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text"  placeholder="Ingresar Id" #ID_CONTACTO required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Nombre" #NOMBRE required></ion-input>
          <ion-input type="email" placeholder="Ingresar Email" #EMAIL required></ion-input>
          <ion-input type="email" placeholder="Ingresar Telefono" #TELEFONO required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Descripción" #DESCRIPCION required></ion-input>
          <ion-button color="primary" (click)="agregarNuevoContacto(ID_CONTACTO, NOMBRE, EMAIL, TELEFONO, DESCRIPCION)">
            Guardar Contacto
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
