<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contact"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Contacto</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text"  placeholder="Ingresar Id" #id required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Nombre" #nombre required></ion-input>
          <ion-input type="email" placeholder="Ingresar Email" #EMAIL required></ion-input>
          <ion-input type="number" placeholder="Ingresar Telefono" #TELEFONO required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Descripción" #DESCRIPCION required></ion-input>
          <ion-button color="primary" (click)="agregarNuevoContacto(id, nombre, EMAIL, TELEFONO, DESCRIPCION)">
            Guardar Contacto
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
