

home-page {
  .post{
      border:1px solid rgb(167, 20, 20);
      padding:1rem;
      margin-top:1rem;
  }
}

/*
.title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkgreen;
  margin: 15%;



}

.form .usr {
  text-align: center;
}

.inicio .img {
  max-width: 283px;
  max-height: 358px;
  margin: auto;

}
*/
