.title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkgreen;
  margin: 15%;



}

.form .usr {
  text-align: center;
}

.inicio .img {
  max-width: 500px;
  max-height: 168px;

}