<!---<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="inicio">
  <ion-grid fixed>
    <div class="img">
      <img
        src="https://st2.depositphotos.com/2435561/5260/i/600/depositphotos_52600881-stock-photo-small-red-stable-and-view.jpg"
        alt="bienvenido">
    </div>
  </ion-grid>
</ion-content>

<ion-content >
  <ion-grid fixed >
    <div class="title">
      <h1>Cow & Sow</h1>
    </div>
  </ion-grid>
</ion-content>

<ion-content class="Form">
  <ion-grid fixed>

      <ion-col >
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Inicio Sesion</ion-button>
        <ion-button [routerLink]="['/owner']" expand="block" color="primary">Crear Cuenta</ion-button>
      </ion-col>

  </ion-grid>
</ion-content>
prueba de get
---->
<ion-content>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [formControl]="nombre"></ion-input>
  </ion-item>

  <p class="ion-padding">{{ nombre.value }}</p>
  <p class="ion-text-center">
    <ion-button (click)="cambiarNombre()">Cambiar nombre</ion-button>
  </p>
</ion-content>
