<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employee"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text"  placeholder="Ingresar Id" #ID_TIPO_USUARIO required></ion-input>
          <ion-input type="email" placeholder="Ingresar Email" #EMAIL required></ion-input>
          <ion-input type="number" placeholder="Ingresar Telefono" #TIPO_USUARIO required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Descripción" #DESCRIPCION required></ion-input>
          <ion-select type="text"  placeholder="Ingresar Tipo Usuario" #TIPO_USUARIO required>
            <ion-select-option >Veterinario</ion-select-option>
            <ion-select-option >Administrador</ion-select-option>
            <ion-select-option >Control de calidad</ion-select-option>
          </ion-select>
          <ion-button color="primary" (click)="agregarNuevoContacto(ID_TIPO_USUARIO,EMAIL, TIPO_USUARIO, DESCRIPCION)">
            Guardar Empleado
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
