.farm{
    width: 40%;
    height: 25%;
    margin:10%;
    margin-left: 5%;
    text-align: center;
    font-size: smaller;
    
}

.employee{
    width: 40%;
    height: 25%;
    margin:-45%;
    margin-left: 50%;
    text-align: center;
    font-size: small;
}

.won{  
    width: 40%;
    height: 25%;
    margin: 50%;
    margin-left: 5%;   
    text-align: center;
    font-size: small;
}

.sowing{
    width: 40%;
    height: 25%;
    margin: -85%;
    margin-left: 50%;   
    text-align: center;
    font-size: small;
}

.contact{
    width: 40%;
    height: 25%;
    margin: 90%;
    margin-left: 5%;   
    text-align: center;
    font-size: small;
}

.profile{
    
    width: 40%;
    height: 25%;
    margin: -127%;
    margin-left: 50%;   
    text-align: center;
    font-size: small;
}

.reporte{
    
    width: 40%;
    height: 25%;
    margin: 135%;
    margin-left: 53%;   
    text-align: ceter;
    font-size: small;
}

.evento{
    
    width: 40%;
    height: 25%;
    margin: -171%;
    margin-left: 6%;   
    text-align: ceter;
    font-size: small;
}


