.farm{
    width: 45%;
    height: 30%;
    margin:15%;
    margin-left: 5%;
    text-align: center;
    font-size: smaller;
    
}

.employee{
    width: 45%;
    height: 30%;
    margin:-55%;
    margin-left: 50%;
    text-align: center;
    font-size: small;
}

.won{  
    width: 45%;
    height: 30%;
    margin: 65%;
    margin-left: 5%;   
    text-align: center;
    font-size: small;
}

.sowing{
    width: 45%;
    height: 30%;
    margin: -105%;
    margin-left: 50%;   
    text-align: center;
    font-size: small;
}

.contact{
    width: 45%;
    height: 30%;
    margin: 115%;
    margin-left: 5%;   
    text-align: center;
    font-size: small;
}

.profile{
    
    width:45%;
    height: 35%;
    margin: -155%;
    margin-left: 50%;   
    text-align: center;
    font-size: small;
}

