<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Propietario</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid fixed>

    <ion-card-content class="farm">
      <ion-tab-button>
        <ion-img src="../../../assets/icon/icons/granja.png" routerLink="/property"></ion-img>
        <ion-text>Propiedad</ion-text>
      </ion-tab-button>
    </ion-card-content>


    <ion-card-content class="employee">
      <ion-tab-button>
        <ion-img src="../../../assets/icon/icons/perfil-del-usuario.png" routerLink="/employee"></ion-img>
        <ion-text>Empleado</ion-text>
      </ion-tab-button>
    </ion-card-content>


    <ion-card-content class="won">
      <ion-tab-button>
        <ion-img src="../../../assets/icon/icons/ganado.png" routerLink="/won"></ion-img>
        <ion-text>Ganado</ion-text>
      </ion-tab-button>
    </ion-card-content>


    <ion-card-content class="sowing">
      <ion-tab-button>
        <ion-img src="../../../assets/icon/icons/siembra.png" routerLink="/sowing"></ion-img>
        <ion-text>Siembra</ion-text>
      </ion-tab-button>
    </ion-card-content>


    <ion-card-content class="contact">
      <ion-tab-button>
        <ion-img src="../../../assets/icon/icons/contactos.png" routerLink="/contact"></ion-img>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-card-content>


    <ion-card-content class="profile">
      <ion-tab-button>
        <ion-img src="../../../assets/icon/icons/perfil.png" routerLink="/profile"></ion-img>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-card-content>


  </ion-grid>
</ion-content>

<!--<footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/owner">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule" routerLink="/evento">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</footer>-->
