<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario Registro Siembra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed >
  <form [formGroup]="formularioSiembra"(keyup.enter)="guardar()">
    <ion-row>
      <ion-col>
    <ion-item>
      <ion-label>Tipo Siembra</ion-label>
      <ion-select formControlName="tipoSiembra" placeholder="Seleccione">
        <ion-select-option >Frutas</ion-select-option>
        <ion-select-option >Verduras</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion" type="text" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
  </form>
  <!-- Boton Crear Propiedad -->
  <ion-row>
    <ion-col>
  <ion-button class="ion-margin" type="submit" color="success" size="small" (click)="guardar()">Agregar Ganado</ion-button>
</ion-col>
</ion-row>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" routerLink="/owner">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" routerLink="/event">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesion</ion-label>
    </ion-tab-button>

  </ion-tab-bar>        
</ion-tabs>
</ion-grid>
</ion-content>



