<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario Registro Siembra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed >
  <form>
    <ion-item>
      <ion-label>Tipo Ganado</ion-label>
      <ion-select placeholder="Seleccione">
        <ion-select-option >Administrador</ion-select-option>
        <ion-select-option >Veterinario</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
  </form>
  <!-- Boton Crear Propiedad -->
  <ion-button class="ion-margin" color="success" size="small" routerLink="/won">Agregar Ganado</ion-button>
</ion-grid>
</ion-content>
