<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Ganado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="owner" routerLink="/owner">
          <ion-icon name="grid-outline"></ion-icon>
          <ion-label>Menú</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="schedule" routerLink="/event">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Calendario</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
  
        <ion-tab-button tab="map">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </footer>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text"  placeholder="Ingresar Id" #ID_SIEMBRA required></ion-input>
          <ion-input type="text"  placeholder="Ingresar Nombre" #TIPO_SIEMBRA required></ion-input>
          <ion-input type="email" placeholder="Ingresar Email" #DESCRIPCION required></ion-input>
          <ion-button color="primary" (click)="agregarNuevoContacto(ID_SIEMBRA, TIPO_SIEMBRA, DESCRIPCION)">
            Guardar Siembra
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
