<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sowing"></ion-back-button>
    </ion-buttons>
    <ion-title>Información Siembra</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)=" cerrarSecion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>.
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content *ngFor="let s of infoSiembra">
          <ion-item>
            <ion-label type="text">Tipo Siembra: {{s.TIPO_SIEMBRA}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label type="text">Descripción: {{s.DESCRIPCION}}</ion-label>
          </ion-item>
        </ion-card-content>
        <ion-buttons id="eli">
          <ion-button (click)=" eliminarSiembra()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card>     
    </ion-col>   
  </ion-row>
</ion-content>