<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/contact"></ion-back-button>
  </ion-buttons>
    <ion-title>{{infoSiembra?.TIPO_SIEMBRA}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)=" eliminarContacto()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" routerLink="/owner">
          <ion-icon name="grid-outline"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="schedule" routerLink="/evento">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
  
        <ion-tab-button tab="map">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </footer>
  <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">{{infoSiembra?.ID_SIEMBRA}}</h1>
          <h1 class="ion-text-center">{{infoSiembra?.TIPO_SIEMBRA}}</h1>
          <h1 class="ion-text-center">{{infoSiembra?.DESCRIPCION}}</h1>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>

